$browser-context: 18;
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}
@media screen and (min-width: 320px) {
	html,
	body {
		margin: 0;
		overflow-x: hidden;
	}
}

@media screen and (max-width: 320px) {
	html,
	body {
		margin: 0;
		overflow-x: hidden;
	}
}

@for $i from 1 through 60 {
	@media(min-width: 2000px + ($i * 100)) {
		body {
			font-size: 20px + $i !important;
		}
	};
}

@media screen and (max-width: 1500px) {
	
}
@media screen and (max-width: 1280px) {
	
}
@media screen and (max-width: 1200px) {
	
}
@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 991px) {
	
}
@media screen and (max-width: 800px) {
	
}
@media screen and (max-width: 768px) {
	.logo-text{
		 margin: 0;
	}
	.custom-control-label:before,
	.custom-control-label:after{
		left: 0;
	}
	.pricing__block__second{
		padding: em(20) em(10) 0;
	}
	.test__block, 
	.test__block__second,
	.gallery__content{
		width: inherit;
	}
	.test__block__img{
		right: 0;
	}
	.test__block, 
	.test__block__second{
		p, span{
			width: em(250);
		}
	}
}
@media screen and (max-width: 375px) {
	.custom-control-label{
		width: em(250);
	}
	.services__header{
		padding-top: em(100);
	}
	.history__button{
		margin: auto;
	}
	.test__block, 
	.test__block__second{
		p, span{
			width: em(200);
		}
	}
	.footer__logo{
		text-align: center;
	}
}