@import '../css/bootstrap.css';
@import '../css/bootstrap-grid.min.css';
@import '../fonts/font-face.css';
@import '../fonts/montserrat/montserrat.css';
@import '../fonts/ptserif/ptserif.css';
@import '../fonts/couture-bold/couture-bold.css';
@import '../fonts/quite_chocolatey/quite_chocolatey.css';

//Methods
$browser-context: 20;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//Colors
$black: #130e27;
$white: #ffffff;
$red: #c62314;

//Vars
$montserrat: Montserrat, sans-serif;
$ptserif: PT Serif, sans-serif;
$couture: COUTURE Bold, sans-serif;
$quitechocolatey: Quite Chocolatey, sans-serif;

body{
	font-family: $ptserif;
	font-size: #{$browser-context}px;
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.header{
  position: relative;
  background: #dd2211;
}
.header:before{
	content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
	background-image: url("../img/layer-13.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header__top{
	padding: em(40) 0;
}
.logo-text{
	font-family: $quitechocolatey;
  font-size: em(88.5);
  font-weight: normal;
  font-style: normal;
  line-height: 0.37;
  color: #ffffff;
  margin-left: -16px;
  margin-right: 0;
  padding: 30px 0;
  &:hover{
  	color: $black;
  }
}
.menu__navbar{
	padding: 0;
}
.menu__navbar{
	.menu_header{
		.active{
			background: $black;
			border-radius: em(5);
			padding-left: em(15);
			padding-right: em(15);
			text-decoration: none;
			color: $white;
			&:hover{
		  	color: $black;
		  	background: $white;
		  }
		}
	}
}
.nav-item{
	padding-left: em(15);
	padding-bottom: em(10);
}
.menu__nav-link{
	font: em(18) $montserrat;
	font-weight: normal;
	font-style: normal;
	line-height: 1.22;
	letter-spacing: -0.4px;
	color: $white; 
	text-transform: uppercase;
	&:hover{
  	color: $black;
  }
}
.header__center{
  padding-top: em(80);
}
.header__center__sale{
	h1{
		font: em(90) $montserrat;
		font-weight: bold;
  	font-style: normal;
	  line-height: 0.89;
	  color: $black;
	  margin-bottom: 45px;
	  text-transform: uppercase;
	}
	span{
		color: $white;
	}
}
.header__center__sale__info{
	max-width: em(500);
  line-height: 1.4;
  color: $white;
}
.form{
	background: $white;
	box-shadow: 0 0 em(30) rgba(0,0,0,0.5);
  padding: em(25);
  border-radius: em(5.2);
  max-width: em(400);
  margin-bottom: em(-95);
  margin-left: auto;
}

.form-group__header{
	font: em(22) $montserrat;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
  margin-bottom: em(35);
  color: $black;
  text-transform: uppercase;
}
.form-group{
  line-height: 1.25;
  ::-webkit-input-placeholder { /* WebKit browsers */
	 color:    #b5b5b5;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		 color:    #b5b5b5;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		 color:    #b5b5b5;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		 color:    #b5b5b5;
	}
	.form-control{
		background-color: #eeeeee;
		border: em(1) solid #eeeeee;
	}
	.btn-lg{
		padding: em(15) 0;
	}
}
.custom-control-label:before,
.custom-control-label:after{
	left: -2rem;
}
.btn-lg{
	font: em(22) $montserrat;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: em(-0.4);
  text-transform: uppercase;
}
.btn-danger{
	color: $white;
  background-color: $red;
  border-color: $red;
}
.services__header{
  padding: em(45) 0 em(90);
}
.services__header__text{
	h2{
		font: em(50) $couture;
		font-weight: bold;
	  font-style: normal;
	  line-height: 1.6;
	  letter-spacing: em(-1);
		color: $black;
	}
	span{
		color: $red;
		display: inline-block;
		padding-right: 13px;
	}
}
.sevices__content{
	min-height: em(310);
	p{
	  line-height: 1.4;
	  letter-spacing: em(-0.4);
	  color: #161616;
	  margin: em(40) 0 em(65);
	}
}
.heart, .key, .bulb, .clock{
	max-width: em(170);
}
.history{
	width: 100%;
	background-color: $black;
	border-radius: em(5);
}
.history__text{
  line-height: 1.4;
  letter-spacing: em(-0.4);
	color: $white;
	padding: em(30) 0 em(15);
}
.history__button{
	padding: em(30) 0 0;
	max-width: em(270);
	.btn-lg{
		line-height: 1.27;
		padding: em(15) 0;
	}
}
.pricing{
	background-color: #efefef;
}
.pricing__header{
	padding-top: em(65);
}
.pricing__header{
	h1{
		font: em(50) $montserrat;
		font-weight: bold;
	  line-height: 1.6;
		color: $black;
		text-transform: uppercase;
	}
}
.pricing__block{
	background-color: white;
	border-radius: em(4.7);
	margin-top: em(40);
	position: relative;
}
.pricing__block__second{
	padding: em(35) em(55) 0;
	h5{
		font-size: em(22);
		line-height: 1.27;
  	letter-spacing: em(-0.4);
  	color: #161616;
	}
	h2{
		font: em(60) $montserrat;
	  font-weight: bold;
	  font-style: normal;
	  line-height: 1.33;
	  color: $red;
	}
	p{
	  line-height: 1.4;
	  letter-spacing: em(-0.4);
	  color: #161616;
	  margin: 0;
	}
}
.pric__button{
	.btn-primary{
		background-color: $black;
		border: em(1) solid transparent;
	}
}
.business__button{
	.btn-danger{
		border: em(1) solid transparent;
		background-color: $red;
	}
}
.pric__button, .business__button{
	margin-top: em(20);
	font: em(22) $montserrat;
	line-height: 1.27;
  letter-spacing: em(-0.4);
  .btn-lg{
		padding: em(10) 0;
	}
}
.popular:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
  width: 0;
  height: 0;
  border: em(45) solid;
  border-color: $red transparent transparent $red;
  border-radius: em(5);
}
.popular:after{
	content: 'Popular';
	position: absolute;
	transform: rotate(-45deg);
	top: em(20);
	left: em(5);
	font-size: em(16);
  line-height: 1.73;
  letter-spacing: em(-0.2);
  color: #1f1f1f;
}
.content__footer{
  padding: em(150) 0 em(120);
}
.testimonial,
.gallery__header{
	h1{
		font: em(50) $montserrat;
		font-weight: bold;
	  font-style: normal;
	  line-height: 1.6;
		color: $black;
		text-align: center;
	}
}
.testimonial,
.gallery__header{
	h1{
		color: $black;
	}
}
.test__block, 
.test__block__second{
	margin-top: em(35);
	padding: em(25);
	width: em(440);
	p, span{
		line-height: 1.4;
  	letter-spacing: em(-0.4);
  	color: #161616;
  	width: em(340);
	}
	span{
		font-family: $montserrat;
		display: inline-block;
		color: $black;
	}
}
.test__block__img{
	position: absolute;
	right: em(70);
  box-shadow: em(0.6) em(5) em(16) 0 rgba(184, 172, 147, 0.75);
  border-radius: 50%;
  overflow: hidden;
  background-color: #d03958;
}
.test__block__second{
	background-color: #efefef;
	border-radius: em(4.6);
  p{
		color: $red;
	}
}
.gallery__header{
	margin-left: em(20);
}
.gallery__header{
  h1{
		color: $red;
	}
}
.gallery__content{
	width: em(385);
	margin: em(35) auto 0;
}
.gallery__img{
	margin-top: em(30);
	img{
		border-radius: 50%;
		box-shadow: em(0.6) em(5) em(16) 0 rgba(184, 172, 147, 0.75);
	}
}
.gallery__footer{
	margin-top: em(50);
	a{
		font-family: $montserrat;
		text-decoration: underline;
		color: $black;
		line-height: 1.4;
  	letter-spacing: em(-0.4);
		&:hover{
			text-decoration: none;
		}
	}
}
.footer{
	background: $black;
	padding: em(50) 0 em(40);
}
.footer__info{
	color: $white;
	margin-top: em(25);
	a{
		color: $red;
	}
}
.footer__logo{
	.logo-text{
		color: $red;
		font-size: em(64.5);
		line-height: inherit;
		letter-spacing: em(-1.3);
		margin: 0;
		&:hover{
			text-decoration: none;
		}
	}
}
