﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"COUTURE Bold";src:url("COUTURE-Bold.eot?") format("eot"),url("COUTURE-Bold.woff") format("woff"),url("COUTURE-Bold.ttf") format("truetype"),url("COUTURE-Bold.svg#COUTURE-Bold") format("svg");font-weight:normal;font-style:normal;}
